<nav>
  <div class="nav-wrapper">
    <a href="#" class="center brand-logo">EFM</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Sass</a></li>
      <li><a href="#">Components</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
</nav>
