<nav>
  <div class="nav-wrapper">
    <a href="/" class="left brand-logo" id="logo">ΙΕΚ ΧΑΛΑΝΔΡΙΟΥ</a>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in?%>
        <li class="is-signed-in">
          <div class="user-status">
            <a href="#" class="clickable panel-collapsed">
              <div class="user-menu-wrapper">
              <i id="user-icon" class="small material-icons">account_circle</i>
              <p id="user-display"><%= current_user.email %></p>
              </div>
            </a>
            <ul class="collapsein">
              <li><a href="#">Καταχώρηση</a></li>
              <li><%= link_to "Αποσύνδεση", destroy_user_session_path, method: 'DELETE' %></li>
            </ul>

          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
